<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <form action="{% url 'inputText' %}" method="POST" enctype="multipart/form-data" class="inputText">
        <select name="vaccineSelector" id="vaccineSelector">
            <option value="pfizer" name="pfizerOption"> Pfizer</option>
            <option value="moderna" name="modernaOption"> Moderna</option>
        </select>
    </form>
</body>



</html>